<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kiro_sim)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <!-- <arg name="paused" value="$(arg paused)"/> -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>


  <!-- Use it when load URDF -->
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find kiro_sim)/urdf/kiro_v2.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model kiro_v2 -param robot_description"/>

  <!-- Use it when load SDF -->
  <arg name="custom_ground" default="$(find kiro_sim)/worlds/custom_ground.sdf" />

  <node name="sdf_spawner_1" pkg="gazebo_ros" type="spawn_model"
            args="-z 0.005 
            -sdf 
            -model ground
            -file $(arg custom_ground)
            -robot_namespace /ground" 
            respawn="false" output="screen" />

</launch>